-- CreateTable
CREATE TABLE "SocialPublicationAttempt" (
    "id" TEXT NOT NULL,
    "queue_id" TEXT NOT NULL,
    "post_version_id" TEXT NOT NULL,
    "social_account_id" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "provider_post_id" TEXT,
    "attempt_number" INTEGER NOT NULL DEFAULT 1,
    "publication_key" TEXT NOT NULL,
    "correlation_id" TEXT,
    "status" TEXT NOT NULL,
    "normalized_error" TEXT,
    "is_retryable" BOOLEAN NOT NULL DEFAULT false,
    "next_retry_at" TIMESTAMP(3),
    "started_at" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SocialPublicationAttempt_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "SocialPublicationAttempt_queue_id_idx" ON "SocialPublicationAttempt"("queue_id");

-- CreateIndex
CREATE INDEX "SocialPublicationAttempt_status_next_retry_at_idx" ON "SocialPublicationAttempt"("status", "next_retry_at");

-- CreateIndex
CREATE UNIQUE INDEX "SocialPublicationAttempt_queue_id_attempt_number_key" ON "SocialPublicationAttempt"("queue_id", "attempt_number");

-- AddForeignKey
ALTER TABLE "SocialPublicationAttempt" ADD CONSTRAINT "SocialPublicationAttempt_queue_id_fkey" FOREIGN KEY ("queue_id") REFERENCES "SocialPostQueue"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SocialPublicationAttempt" ADD CONSTRAINT "SocialPublicationAttempt_post_version_id_fkey" FOREIGN KEY ("post_version_id") REFERENCES "MarketingPostVersion"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SocialPublicationAttempt" ADD CONSTRAINT "SocialPublicationAttempt_social_account_id_fkey" FOREIGN KEY ("social_account_id") REFERENCES "SocialAccount"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

